<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    
    <!-- my css -->
    <style>
      body {
    background-color: #E27D60;
}
a{
  color: #fff;
  background-color: #10555A;
  text-decoration:none;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}
footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
   margin-left:0;
   padding-left: 0;
   text-align:center;
}
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
h1{
    text-align: center;
    font-size: 65px;
    background-color: orange;
    padding-top: 0px;
    margin-top: 0px;
}
input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
}
    </style>
    <title>Admin Login</title>
  </head>
  <body>
    <h1>Admin Login</h1>

        <form action="/admin_login" method="POST">
            <label for="email"></label>
            <input type="email" name="email" placeholder="email" id="email">
            <br>
            <label for="password"></label>
            <input type="password" name="password" placeholder="Password" id="password">
            <br>
            <button><h2>Submit</h2></button>
        </form>
  
   </div>

  </body>
      <footer>
        <p>Contact Developer: @Ashish Kumar 18BLC1119, @Rishik Kishu 18BLC1110<br>
        <a href="https://www.linkedin.com/in/ashish-kumar-549914169/">Ashish's LinedIn Account</a>
        <a href="https://www.linkedin.com/in/rishik-kishu-5a3740175/">Rishik's LinedIn Account</a>
    </footer>
</html>